# Ignore the following folders:
.spyproject/
**/__pycache__/
.vscode/**
/jinzhu_inspect_code/*
/jinzhu_inspect_code
luto/.ipynb_checkpoints/*
pyproject.toml

# Virtual environments
venv

# Gurobi environment & logging
gurobi.env
gurobi.log

# Testing
.hypothesis

# Except this very file:
!.gitignore

# Some potential temporary files
*.zip
*.dat
debug.log

# Xinhao's personal settings
.idea/
temp*
*.ipynb
*.gitignore
myCode/draw_all/output/
myCode/Map/Assets/basemap.tif
myCode/Map/Assets/shp/
output/
input/
.idea
# The mannual build files
/docs/manual/*

*.png
*.tif
*.shp
myCode/**/Assets/
/myCode/tasks_run/rsync/rsync_password

# Ignore rsync sensitive files
myCode/tasks_run/rsync/rsync_password
myCode/tasks_run/rsync/sync_files.sh
myCode/clear_output.txt

# The mannual build files
/docs/manual/*

